{% load static from staticfiles %}

<!DOCTYPE html>
<html lang ="en">
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0 ,shrink-to-fit=no">
      <meta ht  tp-equiv="x-ua-compatible" content="ie-edge">

       <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
   
      <link rel ="stylesheet" href="{% static 'style.css' %}" >
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
      
      <title>CRUD MANAGEMENT</title>
      </head>
   <body>

 
<!--Navbar-->
  
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
         
          <a class="navbar-brand" href="#"><b>CRUD MANAGEMENT</b></a>
        </div>
      </div>

</nav>

<!--Navbar -->



   
  
    <section id="main">
      <div class="container">
        <div class="panel panel-default">
  <div class="list-group-item active main-color-bg">
    <h3 class="panel-title">Dashboard</h3>
  </div>
  <center>
  <div class="panel-body">

    <div class="col-md-6">
      <div class="well dash-box">
      <a href="{% url 'students:CreateStudent' %}"   class="list-group-item"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Add Student</a>
      </div>
    </div>
    <div class="col-md-6">
      <div class="well dash-box">
            <a href="{% url 'students:RetrieveAll' %}"  class="list-group-item"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> View Students </a>
      </div>
    </div>
  </div>

 
</center>
</div>
        
         {% block content %}

          {% endblock %}
       
     

  
  </div>
</section>
         
          
  </body>
</html>
